<div class="card mb-4">
    <img src="/upload/burger/{{ burger.image }}" alt="card-img-top" style="width: 100%; height: auto">
    <div class="card-body">
        <h5 class="card-title">
            <a href="{{ path('burger.show', {slug: burger.slug, id: burger.id }) }}">
                {{ burger.nom }}
            </a>
        </h5>
        <div class="text-primary" style="font-size: 2rem; font-weight: bold">
            {{ burger.formatPrice }} Fcfa
        </div>
        <a href="{{ path('panier.add', {id: burger.id}) }}" class="btn btn-primary">Ajouter</a>


    </div>

</div>